<nav class="nav" role="navigation">
  <ul class="nav-main">
    <li><%= link_to 'Home', '/index.html', class: 'nav-main-link'  %></li>
    <li><span class="nav-main-link">Portfolio</span>
      <ul class="nav-sub">
        <li><%= link_to 'Weddings', '/portfolio/weddings.html' %></li>
        <li><%= link_to 'Engagements', '/portfolio/engagements.html' %></li>
        <li><%= link_to 'Families', '/portfolio/families.html' %></li>
        <li><%= link_to 'Newborns &amp; Births', '/portfolio/newborns-and-births.html' %></li>
      </ul>
    </li>
    <li><%= link_to 'About', '/about.html', class: 'nav-main-link'  %>
    <li><%= link_to 'Blog', 'http://silvermaplephotos.blogspot.com', class: 'nav-main-link'  %>
    <li><%= link_to 'Contact', '/contact.html', class: 'nav-main-link'  %>
  </ul>
</nav>