<div class="gallery">
  <div>
    <%= image_tag 'births-and-newborns/001.jpg', alt: 'Photo of a birth or newborn' %><%= image_tag 'births-and-newborns/002.jpg', alt: 'Photo of a birth or newborn' %><%= image_tag 'births-and-newborns/003.jpg', alt: 'Photo of a birth or newborn' %><%= image_tag 'births-and-newborns/004.jpg', alt: 'Photo of a birth or newborn' %><%= image_tag 'births-and-newborns/005.jpg', alt: 'Photo of a birth or newborn' %>
  </div>
</div>
