<div class="gallery">
  <div>
    <%= image_tag 'couples/001.jpg', alt: 'Photo of a couple' %><%= image_tag 'couples/002.jpg', alt: 'Photo of a couple' %><%= image_tag 'couples/003.jpg', alt: 'Photo of a couple' %><%= image_tag 'couples/004.jpg', alt: 'Photo of a couple' %><%= image_tag 'couples/005.jpg', alt: 'Photo of a couple' %>
  </div>
</div>
