<div class="gallery">
  <div>
    <%= image_tag 'families/001.jpg', alt: 'Photo of a family' %><%= image_tag 'families/002.jpg', alt: 'Photo of a family' %><%= image_tag 'families/003.jpg', alt: 'Photo of a family' %><%= image_tag 'families/004.jpg', alt: 'Photo of a family' %><%= image_tag 'families/005.jpg', alt: 'Photo of a family' %>
  </div>
</div>
