<div class="gallery">
  <div>
    <%= image_tag 'weddings/001.jpg', alt: 'Wedding photo' %><%= image_tag 'weddings/002.jpg', alt: 'Wedding photo' %><%= image_tag 'weddings/003.jpg', alt: 'Wedding photo' %><%= image_tag 'weddings/004.jpg', alt: 'Wedding photo' %><%= image_tag 'weddings/005.jpg', alt: 'Wedding photo' %>
  </div>
</div>
