<div class="gallery">
  <div>
    <!-- Replace these paths with paths from specific folders so that these aren't repeated -->
       <%= image_tag 'home/001.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/002.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/003.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/004.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/004a.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/005.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/006.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/007.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/008.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/009.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/010.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/011.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/012.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/013.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/014.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/015.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/016.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/017.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/018.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/019.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/019a.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/020.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/021.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/022.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/023.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/024.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/025.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/026.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/027.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/028.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/029.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/030.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/031.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/032.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/033.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/034.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/035.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/036.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/037.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/038.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/039.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/040.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/041.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/042.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/043.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/044.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/045.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/046.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/047.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/048.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/049.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/050.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/051.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/052.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/053.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/054.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/055.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/056.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/057.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/058.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/059.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/059a.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/060.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/061.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/062.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/063.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/064.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/065.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/066.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/067.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/068.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/069.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/070.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/071.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/072.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/073.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/074.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/075.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/076.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/077.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/078.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/079.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/080.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/081.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/082.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/083.jpg', alt: 'Photograph' %><!--
    --><%= image_tag 'home/084.jpg', alt: 'Photograph' %>
  </div>
</div>
