<div class="gallery">
  <div>
    <!-- Replace these paths with paths from specific folders so that these aren't repeated -->
    <%= image_tag 'home/001.jpg', alt: 'Photo of something' %><%= image_tag 'home/002.jpg', alt: 'Photo of something' %><%= image_tag 'home/003.jpg', alt: 'Photo of something' %><%= image_tag 'home/004.jpg', alt: 'Photo of something' %><%= image_tag 'home/005.jpg', alt: 'Photo of something' %>
  </div>
</div>
